<div class="w-full ">
    <div class="tableBox">
        <table mat-table [dataSource]="dataSource" class="table">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef class="tableHeader"> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="tableHeader"> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="tableHeader"> Action </th>
                <td mat-cell *matCellDef="let element">
                    <span class="flex w-full place-items-center h-full">
                        <button class=" iconBtn" style="margin-right:3px ;" (click)="performAction('edit',element)"
                            title="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class=" iconBtn" (click)="performAction('delete',element)" title="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>