/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs4-alert';
@import 'ngx-toastr/toastr-bs4-alert';
@import 'ngx-toastr/toastr-bs5-alert';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}